@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-select: none;
}

.menuContainer {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menuContainer div {
  height: 2px;
  background-color: grey;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.lineOne,
.lineTwo,
.lineThree {
  width: 100%;
}

/* Rotation and hiding styles */
.rotateLineOne {
  transform: rotate(45deg) translate(7px, 6px);
}

.rotateLineThree {
  transform: rotate(-45deg) translate(7px, -6px);
}

.hideLineTwo {
  opacity: 0;
}

/* Optional hover effect for the menu */
.menuContainer:hover div {
  background-color: grey;
}

.cus-bg {
  background-image: url('./assets/images/bg2.jpeg');
  background-size: contain;
  background-position: center;
}

.cus-bg1 {
  background-color: #DFE4DC;
  backdrop-filter: blur(10px);
}

.product-bg {
  background-color: #CECEC8;
}

.fog:hover {
  text-decoration: underline;
}

.nav:hover {
  background-color: #C1B3A8;
  transition: all 0.6s;
  color: #2B0304;
}

.sign-bg {
  background-color: #C1B3A8;
}

.sign-bg:hover {
  background-color: #2B0304;
  opacity: 60%;
  transition: all 1s;
}

.pro-det {
  background-color: #DFE4DC;
}

.buy-button {
  background-color: #C1B3A8;
  color: #2B0304;
}

/* .delete-button {
  display: none;
  transition: all 3ms;
}

.cart-item:hover .delete-button{
  display: block;
} */

/* Spinner */
.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner div {
  position: absolute;
  top: 37px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #333;
  animation: bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  left: 0;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  left: 30px;
  animation-delay: -0.16s;
}

.spinner .bounce3 {
  left: 60px;
  animation-delay: 0;
}

@keyframes bouncedelay {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}